/*--------------
 font style
 -------------*/
 body{
    font-family: 'Poppins', sans-serif;
    margin: 80px 120px;
    align-items: center;
 }
 /*-------------
  header style
  ------------*/
.influencer-header>ul{
    display: flex;
     justify-content: space-between;
     color: #3A3A3A;
     list-style: none;
     align-items: center;
}
.influencer-nav{
    display: flex;
}
.influencer-nav>li{
    margin-right: 20px;
    font-size: 10px;
}
.journey{
    display: flex;
}
.arrow{
    color: white;
    background-color: rgb(216, 55, 154);
    text-decoration-line: none;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}
.fa-star filled{
    color: rgb(255, 187, 0);
}