/*--------------
 font style
 -------------*/
 body{
    font-family: 'Poppins', sans-serif;
    align-items: center;
 }
 /*-------------
  header style
  ------------*/
.influencer-header>ul{
    display: flex;
     justify-content: space-between;
     color: #3A3A3A;
     list-style: none;
     align-items: center;
}
.influencer-nav{
    display: flex;
}
.influencer-nav>li{
    margin-right: 20px;
    font-size: 10px;
}
      /* journey  */

.journey{
    display: flex;
}
.arrow{
    color: white;
    background-color: rgb(216, 55, 154);
    text-decoration-line: none;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}
@keyframes sliding {
    from{
        background-color: skyblue;
    }
    to{
        background-color: magenta;
    }
    
}
.main-camera{
    background-color: turquoise;
    animation: sliding 1s ease-in-out infinite;
    animation-play-state: running;
}
.fa-arrow-right{
    color: white;
}
    /* popular-collection  */

.popular-collection{
    margin-top: 200px;
}
.heading{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.products{
    background-color: white;
    width: 329px;
    height: 476px;
    padding-left: 10px;
    box-shadow: 10px 5px 5px gray;


}
.fa-star{
    color: rgb(255, 187, 0);
    font-size: 10px;
}
.fa-star-half-alt{
    color: rgb(255, 187, 0);
    font-size: 10px;
}
.additional{
    color: rgb(117, 117, 145);
}
.see-more{
    color: rgb(192, 25, 117);
    text-decoration-line: none;
    float: right;
    margin-top: 10px;
    margin-right: 100px;

}
.fa-arrow-right.pink{
   color: rgb(192, 25, 117);
   padding-left: 2px;
}
      /* self-sec  */

.self-sec{
    margin-top: 180px;
    text-align: center;
}
.update{
    font-size: 40px;
    color: rgb(209, 43, 126);
    font-weight: 900;
}
.log-in{
    font-size: 30px;
    margin-bottom: 10px;
}
      /* footer  */

footer{
    background-color: black;
    text-align: center;
    color: gray;
    margin-top: 100px;
}
.fab{
    margin-right: 10px;
}
.fa-youtube, .fa-facebook-f{
    color: white;
}
/*----------------------
    Media Quaries
-----------------------*/

    /* Mobile Device  */
@media only screen and (max-width:688px) {
    .body{
        width: 100%;
    }
    .journey, .collections, .influencer-header>ul, .self-sec, .footer{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}

      /* tablet device  */
      @media only screen and (min-width:688px) and (max-width:992px) {
          .container{
              width: 100%;
          }
        .journey, .collections, .self-sec, .footer{
            grid-template-columns: repeat(2, 1fr); 
        }   
      }